.hero {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-section {
    width: 100%;
    height: 700px;
    background-color: #F5F3F0;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.profile-pic {
    margin: 0 100px;
}

.profile-pic img {
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.intro {
    margin: 213px 165px 263px auto;
}

.intro h4 {
    color: #9E8C6C;
    margin-bottom: -120px;
    font-size: 18px;
}

.intro h2 {
    font-size: 126px;
    color: #000000;
    line-height: 1;
}

.btn-contact {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    background-color: #0699A6;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: -100px;
}

.main-content {
    width: 1440px;
    display: flex;
    margin: 0 auto;
}

.main-content h3 {
    font-size: 36px;
}

.highlight-bar {
    width: 71px;
    height: 10px;
    background-color: #0699A6;
}

.left-column {
    padding: 40px;
    width: 40%;
}

.left-column h4 {
    color: #9E8C6C;
    font-size: 20px;
}

.left-column p,
.left-column ul {
    font-size: 20px;
}

.left-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.left-column li {
    margin-bottom: 10px;
}

.traits {
    font-size: 23px;
}

.trait-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
}

.project-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #0699A6;
    display: block;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
}

.right-column {
    width: 60%;
    padding: 60px;
    flex-direction: column;
}

.right-column h4 {
    color: #9E8C6C;
    font-size: 20px;
}

.section-spacing {
    padding-bottom: 20px;
}

.footer-section {
    background-color: #F5F3F0;
    width: 100%;
    height: 547px;
    text-align: center;
}

.footer-section h2 {
    font-size: 66px;
}

.footer-section h3 {
    font-size: 36px;
    color: #0699A6;
}

.contact-info {
    padding: 117px 323px 111.18px 324px;
}

.social-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-links li {
    margin: 0 20px;
}



